@model GeneralProductViewModel
@{
    ViewData["Title"] = "Add new Product";
    string NoData = nameof(NoData);
}

<partial name="_NavManageProductsPartial" />
<h1>@ViewData["Title"]</h1>
<form asp-action="GeneralDetails" >
    <!--BRAND LIST-->
    <h4 class="mt-3">Brand</h4>
    <div class="input-group mt-1">
        <select class="form-select" asp-for="@Model.GenDetails.Brand_Id">
            @{

                if (ViewBag.BrandData.Count <= 0)
                {

                    <option type="text" value="@NoData">@NoData</option>
                }
                else
                {
                    foreach (var i in ViewBag.BrandData)
                    {
                        <option value="@i.Id">@i.Name</option>
                    }
                }

            }
        </select>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input"
                       type="checkbox" aria-label="New Brand CheckBox" />
                <label>New Brand</label>
            </div>
            <input type="text" class="form-control" aria-label="Enter Brand here" />
        </div>
    </div>

    <!--GENTYPE LIST-->
    <h4 class="mt-3">GeneralType</h4>
    <div class="input-group mt-1">
        <select class="form-select" asp-for="@Model.GenDetails.GeneralType_Id">
            @if (ViewBag.GenData.Count <= 0)
            {
                <option value="@NoData">@NoData</option>
            }
            else
            {
                @foreach (var i in ViewBag.GenData)
                {
                    <option value="@i.Id" >@i.TypeName</option>
                }
            }
        </select>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input"
                       type="checkbox" aria-label="New Brand CheckBox" />
                <label>New GeneralType</label>
            </div>
            <input type="text" class="form-control" aria-label="Enter GeneraType here" />
        </div>
    </div>

    <!--SUBTYPE LIST-->
    <h4 class="mt-3">SubType</h4>
    <div class="input-group mt-1">
        <select class="form-select" asp-for="@Model.GenDetails.SubType_Id">
            @if (ViewBag.SubData.Count <= 0)
            {
                <option value="@NoData">@NoData</option>
            }
            else
            {
                foreach (var i in ViewBag.SubData)
                {
                    <option value="@i.Id" >@i.SubTypeName</option>
                }
            }
        </select>
        <div class="input-group">
            <div class="input-group-text">
                <input class="form-check-input"
                       type="checkbox" aria-label="New SubType CheckBox" />
                <label>New SubType</label>
            </div>
            <input type="text" class="form-control" aria-label="Enter Brand here" />
        </div>
    </div>
    <button type="submit">To "ReviewSubmit"</button>
</form>