@model ProductModel
@{
    ViewData["Title"] = "Add new Product";
}

<style>
    form {
        background-color: #ed921d
    }
</style>


<partial name="_NavManageProductsPartial" />
<h1>@ViewData["Title"]</h1>

<article class="my-3">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>New Product information</h3>
    </div>
    <form>
        <div>
            <label class="form-label">Product Name:</label>
            @Html.TextBoxFor(p => p.ProductName)
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div>
            <label class="form-label">Serial Number:</label>
            @Html.TextBoxFor(p => p.SerialNumber)
            <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>

        <div>
            <label class="form-label">Retail Price:</label>
            @Html.TextBoxFor(p => p.RetailPrice)
            <span asp-validation-for="RetailPrice"></span>
        </div>

        <div>
            <label class="form-label">Tax Id:</label>
            @Html.TextBoxFor(p => p.Tax_Id)
            <span asp-validation-for="Tax_Id" class="text-danger"></span>
        </div>

    </form>

    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Supplier Information</h3>
    </div>
    <form>
        <div>
            <label></label>
        </div>
    </form>
</article>