@model BrandModel
<!--SYSTEM TO UPLOAD PHOTO OF BRAND-->
<h1>@ViewBag.AddEdit Brand</h1>
@if (ViewBag.Name != null)
{
    <h5>Currently Editing @ViewBag.Name</h5>
}
<div asp-validation-summary="All" class="alert-danger text-danger"></div>
<form asp-action="AddEditBrand" class="mt-3" method="post">
    @if (Model != null)
    {
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    }
    <div class="mb-3">
        <label asp-for="@Model.Name" class="form-label">Brand Name:</label>
        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="e.g ALVEYS" />
    </div>
    <div>
        <label asp-for="@Model.Description" class="form-label">Brand Description:</label>
        <textarea asp-for="@Model.Description" class="form-control" rows="3" placeholder="This is the best brand make up to get!"></textarea>
    </div>
    <button class="btn btn-outline-primary" type="submit">SUBMIT</button>
</form>