@model ProductTypeModel
<h1>@ViewBag.AddEdit Sub Type</h1>
@if (ViewBag.Name != null)
{
    <h5>Currently Editing @ViewBag.Name</h5>
}
<div asp-validation-summary="All" class="alert-danger text-danger"></div>
<form asp-action="AddEditProductType" method="post" class="mt-3">
    @if (Model != null)
    {
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
    }
    <div class="form-group mb-3">
        <label class="form-label">Type Name:</label>
        <input asp-for="@Model.Type" type="text" class="form-control" placeholder="e.g LipStick" />
    </div>
    @if (ViewBag.ClassList == null)
    {

    }
    else
    {
        @if (ViewBag.ClassList.Count == 0)
        {
            <div class="alert-danger">
                Must have Product Class to submit subtype.
                <a asp-action="AddEditProductCLass" class="btn btn-primary">Create Product Class</a>
            </div>
        }
        else
        {
            <div class="mt-1">
                <label class="form-label">Stem Class:</label>
                <select asp-for="@Model.ProductClass_Id" class="dropdown">
                    @foreach (var cls in ViewBag.ClassList)
                    {
                        <option class="" value="@cls.Id">@cls.Class</option>
                    }
                </select>
            </div>
            <button class="btn btn-outline-primary">SUBMIT</button>
        }
    }



</form>